{% extends "base.html" %}

{% block title %}Upholstery Estimator{% endblock %}

{% block content %}
    <h1 style="margin-top: 50px">Upholstery Estimator</h1>
    <p>Fill out the specifications for your project in the form below.</p>
    
    <form action="/" method="post">
        <div class="mb-3">
            <div class="form-floating">
                <select class="form-select mb-3" id="projecttype" name="projecttype" required>
                    <option value="" selected disabled hidden>Choose a project type...</option>
                    {% for key, value in project_types.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <label for="projecttype">Project Type</label>
                <div class="invalid-feedback">Please select a project type.</div>
            </div>

            <div id="seatTypeSection" class="mt-3" style="display: none;">
                <h6 style="margin-top: 20px">Seat Type</h6>
                {% for key, value in seat_types.items() %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="seattype" id="{{ key }}" value="{{ key }}" required>
                        <label class="form-check-label" for="{{ key }}">{{ value }}</label>
                        <div class="invalid-feedback">Please select a seat type.</div>
                    </div>
                {% endfor %}
            </div>

            <h6 style="margin-top: 20px">Service</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="upholsteryradio" id="radio1" value="upholstery" required>
                <label class="form-check-label" for="radio1">Upholstery</label>
                <div class="invalid-feedback">Please select a service.</div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="upholsteryradio" id="radio2" value="upholstery_foam">
                <label class="form-check-label" for="radio2">Upholstery AND Replace Foam and/or Springs</label>
            </div>

            
            <div id="addons">
                <h6 style="margin-top: 20px">Add-Ons</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="addons1" value="piping" id="piping">
                    <label class="form-check-label" for="piping">Add Piping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="addons2" value="seaming" id="seaming">
                    <label class="form-check-label" for="seaming">Add Seaming</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="addons3" value="pattern_matching" id="pattmatch">
                    <label class="form-check-label" for="pattmatch">Add Pattern-Matching</label>
                </div>
    
                <h6 style="margin-top: 20px">Tufting</h6>
                <div class="form-floating">
                    <input type="number" id="numbtn" name="numbtn" class="form-control" min="0" max="20" value="0" required>
                    <label class="form-label" for="numbtn">Number of Buttons</label>
                    <div class="invalid-feedback">Please enter a valid number of buttons.</div>
                </div>
    
                <h6 style="margin-top: 20px">Decorative Tacks</h6>
                <div class="form-floating">
                    <input type="number" id="numtacks" name="numtacks" class="form-control" min="0" max="20" value="0" required>
                    <label class="form-label" for="numtacks">Feet</label>
                    <div class="invalid-feedback">Please enter a valid number of feet.</div>
                </div>
            </div>
            

            <div style="margin-top:20px">
                <button type="submit" class="btn btn-primary">Get Estimate</button>
            </div>
            
            <div style="margin-top:20px">
                <h3 class="mb-3">Estimate: ${{estimate}}</h3>
            </div>
        </div>
    </form>

    <script>
        document.getElementById('projecttype').addEventListener('change', function() {
            var projectType = this.value;
            var seatTypeSection = document.getElementById('seatTypeSection');
            var addonSection = document.getElementById('addons');
            if (projectType === 'drc' || projectType === 'drc-a' || projectType === 'drc-b' || projectType === 'drc-ab' || projectType === 'footstool') {
                seatTypeSection.style.display = 'block';
                addonSection.style.display = 'block';
            } else {
                seatTypeSection.style.display = 'none';
            }

            if(projectType == 'bc')
            {
                addonSection.style.display = 'block';
                document.getElementById('seaming').disabled=true;
                document.getElementById('pattmatch').disabled=true;
                document.getElementById('numbtn').disabled=true;
                document.getElementById('numtacks').disabled=true;
            }

            if(projectType == 'tp')
            {
                addonSection.style.display = 'none';
            }

            if(projectType == 'o' || projectType == 'o-o')
            {
                addonSection.style.display = 'block';
            }
        });

    </script>
{% endblock %}
